.container {
  display: flex;
  flex-direction: column;
  // transition: all 2s;
}

main {
  display: flex;
  flex-flow: wrap;
  align-content: center;
}
img {
  height: 200px;
  width: 300px;
}
figure.animateditem {
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: grey;
}
figure.animateditem img {
  opacity: 1;
  width: 100%;
  position: relative;
}
figure.animateditem .center {
  border-radius: 50px;
  display: block;
  content: '';
  position: absolute;
  background-color: yellow;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  opacity: 0;
  text-align: center;
}
figure.animateditem.center i {
  font-size: 38px;
  padding: 6px;
  color: #ffffff;
  line-height: 70px;
  opacity: 0.3;
}
figure.animateditem figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
figure.animateditem figcaption > div {
  float: left;
  height: 100%;
  overflow: hidden;
  width: 50%;
  position: relative;
}
figure.animateditem figcaption a {
  opacity: 0.7;
}
figure.animateditem figcaption a:hover {
  opacity: 1;
}
figure.animateditem figcaption h3 {
  background-color: #222;
  word-spacing: -0.1em;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1em;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
  transition: opacity 0.45s,-webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s;
}
figure.animateditem figcaption .left h3 {
  border-radius: 5px 0 0 5px;
  top: 50%;
  padding: 4px 35px 4px 10px;
  right: 0;
  -webkit-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
}
figure.animateditem figcaption .right h3 {
  border-radius: 0 5px 5px 0;
  bottom: 50%;
  padding: 4px 10px 4px 35px;
  padding-left: 30px;
  -webkit-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
}
figure.animateditem a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.animateditem .red {
  background-color: yellow;
}
figure.animateditem .yellow {
  background-color: #945600;
}
figure.animateditem .white {
  background-color: #ffffff;
  color: white;
}
figure.animateditem:hover img,
figure.animateditem.hover img {
  opacity: 0.5;
}
figure.animateditem:hover figcaption .left h3,
figure.animateditem.hover figcaption .left h3 {
  opacity: 1;
  -webkit-transform: translate(0%, 0px);
  transform: translate(0%, 0px);
}
figure.animateditem:hover figcaption .right h3,
figure.animateditem.hover figcaption .right h3 {
  opacity: 1;
  -webkit-transform: translate(0%, 0px);
  transform: translate(0%, 0px);
}
figure.animateditem:hover .center,
figure.animateditem.hover .center {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
figure.animateditem:hover .center i,
figure.animateditem.hover .center i {
  -webkit-transform: translate(0%, -10px);
  transform: translate(0%, -10px);
}
.container {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  
}
.flex__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  
}
.element {
  font-family: 'Quicksand', cursive;
  font-size: 0.7em;
  align-content: center;
  padding: 5px;
  
}

.edit_button {
  font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: none;
    border-radius: 45px;
}

.edit_button:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;

}

.delete_button {
  font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: none;
    border-radius: 45px;
}

.delete_button:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;

}

@media (max-width: 600px) {
  .flex__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vw;
  }

  .element {
    font-family: 'Quicksand', cursive;
    font-size: 10px;
    width: 80vw;
    
}
.list {
&-buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;


  a, button {
    font-family: 'Quicksand', cursive;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 0px;
    text-decoration: none;
    font-size: 0.75rem;
    font-family: sans-serif;
  }

  &--edit {
    background: black;
  }
  .edit_button {
   width: 23px;
  }
  
  .edit_button:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
  
  }
  
  .delete_button {
    font-family: 'Quicksand', sans-serif;
      font-size: 11px;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: white;
      background-color: black;
      border: none;
      border-radius: 45px;
  }
  
  .delete_button:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
  
  }
}
}}