<main *ngIf="bands.length">
  <div class="container" *ngFor="let band of bands">
    <figure class="animateditem">
      <img [src]="band.image" [alt]="band.name" height="200px" />
      <figcaption>
        <div class="left">
          <h3>{{ band.info.name }}</h3>
        </div>
        <div class="right">
          <h3 class="white">{{ band.id }}</h3>
        </div>
      </figcaption>
      <div class="center"><i class="ion-ios-loop-strong"></i></div>
      <a href="#"></a>
    </figure>

    <h3>Info</h3>

    <div class="flex__container">
      <div class="element">
        <div class="element1">Bio: {{ band.info.bio }}</div>
        <div class="element2">Members: {{ band.info.members }}</div>
        <div class="element3">Source: {{ band.info.source }}</div>
      </div>
      <p>
        <button class="edit_button" [routerLink]="['/edit', band.id]">Edit band</button>

        <button class="delete_button" type="button" (click)="onClickDeleteBand(band.id)">
          Delete Band
        </button>
      </p>
    </div>
  </div>
</main>
