html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}

.header__title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  text-align: center;
  background-color: yellow;
  padding: 0;
  margin: 0;
  align-items: center;
}

menu {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  background-color: grey;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
  flex-flow: wrap;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin: 10px;*/
  min-width: 20vw;
  background-color: #548965;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}

menu a {
  min-width: 140px;
  color: black;
  padding: 10px;
  text-decoration: none;
  background-color: #548965;
}

.flex-item menu a {
  width: 200px;
  height: 90px;
  border: 5px solid #000;
  background: none;
  font-size: 28px;
  position: relative;
  overflow: scroll;
  color: #000;
}

menu a:before {
  top: 0;
  left: 0;
  /*width:100%;
  height:100%;*/
  background-color: grey;
  position: absolute;
  transition: all 1s;
  z-index: -1;
  transform: translateY(100%);
  transform-origin: right bottom;
}

menu a:hover:before {
  transform: translateY(0%);
}
menu a:hover {
  color: yellow;
  background-color: black;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: yellow;
  box-shadow: 0px 15px 10px grey;
  color: black;
  transform: translateY(-7px);
}
@media only screen and (max-width: 768px) {
  .btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 100;
    height: 25px;
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 10000;
    
  }
}

@media (min-width: 768px) {
  .btn {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 100;
    height: 25px;
    font-family: 'Quicksand';
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
}
