<h2>Edit an existing band</h2>
<div *ngIf="band">
  <app-form
    [id]="band.id"
    [image]="band.image"
    [name]="band.info.name"
    [bio]="band.info.bio"
    [members]="band.info.bio"
    [source]="band.info.source"
    (formHandler)="onFormSubmit($event)"
  ></app-form>
</div>
