form {
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 10px;
    padding:10px;
}
.btn {
    width: 100;
    height: 25px;
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    }
  
  .btn:hover {
    background-color:yellow;
        box-shadow: 0px 15px 10px grey;
    color: black;
    transform: translateY(-7px);
  }
  