<form [formGroup]="bandForm" (ngSubmit)="onFormSubmit(bandForm.value)">
  <label for="image">
    <h4>Image</h4>
    <input type="text" formControlName="image" id="image" />
  </label>
  <label for="name">
    <h4>Name</h4>
    <input id="name" type="text" formControlName="name" />
  </label>
  <label for="bio">
    <h4>Bio</h4>
    <input type="text" formControlName="bio" id="bio" />
  </label>
  <label for="members">
    <h4>Members</h4>
    <input type="text" formControlName="members" id="members" />
  </label>

  <button class="btn" type="submit">Submit</button>
</form>


